<div class="panel panel-default">
  <div class="panel-body">
    <h4 class="mt-0">New Customer</h4>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
      <div class="form-group">
        <label for="email">Name <label class="text-danger">*</label></label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Enter Customer Name"
          id="name"
        />
        <div
          class="text-danger"
          *ngIf="
            myForm.get('name').invalid &&
            (myForm.get('name').dirty || myForm.get('name').touched)
          "
        >
          Please provide a name.
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Address <label class="text-danger">*</label> </label>
        <textarea
          class="form-control"
          formControlName="address"
          id="address"
          placeholder="Enter Customer Address"
        ></textarea>
        <div
          class="text-danger"
          *ngIf="
            myForm.get('address').invalid &&
            (myForm.get('address').dirty || myForm.get('address').touched)
          "
        >
          Please provide a Address.
        </div>
      </div>
      <div class="form-group">
        <label for="pwd"
          >Mobile Number <label class="text-danger">*</label></label
        >
        <input
          type="number"
          formControlName="number"
          class="form-control"
          id="Number" placeholder="Enter Customer Number"
        />
        <div
          class="text-danger"
          *ngIf="
            myForm.get('number').invalid &&
            (myForm.get('number').dirty || myForm.get('number').touched)
          "
        >
          Please provide a mobile number.
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Jar Rate <label class="text-danger">*</label></label>
        <input
          type="number"
          formControlName="rate"
          class="form-control"
          placeholder="Enter Jar Rate"
          id="Number"
        />
        <div
          class="text-danger"
          *ngIf="
            myForm.get('rate').invalid &&
            (myForm.get('rate').dirty || myForm.get('rate').touched)
          "
        >
          Please provide a jar rate.
        </div>
      </div>
      <button type="submit" class="btn btn-primary"> {{customerId == null ? 'Save' : 'Update'}}</button>
      <button type="button" class="btn btn-primary ml-2" routerLink="/cust">
        Cancel
      </button>
    </form>
  </div>
</div>
